<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  <display-name>UserChat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>UserChat</display-name>
  
  <servlet>
  	<servlet-name>ProfileRegisterServlet</servlet-name>
  	<servlet-class>profile.ProfileRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfileRegisterServlet</servlet-name>
  	<url-pattern>/ProfileRegister</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileRegisterCheckServlet</servlet-name>
   <servlet-class>profile.ProfileRegisterCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileRegisterCheckServlet</servlet-name>
   <url-pattern>/ProfileRegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileLoginServlet</servlet-name>
   <servlet-class>profile.ProfileLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileLoginServlet</servlet-name>
   <url-pattern>/ProfileLogin</url-pattern>
  </servlet-mapping>  
</web-app>

