<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">
  <display-name>UserChat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>UserChat</display-name>
  <!-- Profile -->
  <servlet>
  	<servlet-name>ProfileRegisterServlet</servlet-name>
  	<servlet-class>profile.ProfileRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfileRegisterServlet</servlet-name>
  	<url-pattern>/ProfileRegister</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileRegisterEmailCheckServlet</servlet-name>
   <servlet-class>profile.ProfileRegisterEmailCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileRegisterEmailCheckServlet</servlet-name>
   <url-pattern>/ProfileRegisterEmailCheck</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileRegisterNicknameCheckServlet</servlet-name>
   <servlet-class>profile.ProfileRegisterNicknameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileRegisterNicknameCheckServlet</servlet-name>
   <url-pattern>/ProfileRegisterNicknameCheck</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileLoginServlet</servlet-name>
   <servlet-class>profile.ProfileLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileLoginServlet</servlet-name>
   <url-pattern>/ProfileLogin</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>ProfileUpdateServlet</servlet-name>
   <servlet-class>profile.ProfileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ProfileUpdateServlet</servlet-name>
   <url-pattern>/ProfileUpdate</url-pattern>
  </servlet-mapping>
  <!-- Friend -->
  <servlet> 
   <servlet-name>FriendNicknameCheckServlet</servlet-name>
   <servlet-class>friend.FriendNicknameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>FriendNicknameCheckServlet</servlet-name>
   <url-pattern>/FriendNicknameCheck</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>FriendRequestServlet</servlet-name>
   <servlet-class>friend.FriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>FriendRequestServlet</servlet-name>
   <url-pattern>/FriendRequest</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>RequestAcceptServlet</servlet-name>
   <servlet-class>friend.RequestAcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>RequestAcceptServlet</servlet-name>
   <url-pattern>/RequestAccept</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>RequestDenyServlet</servlet-name>
   <servlet-class>friend.RequestDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>RequestDenyServlet</servlet-name>
   <url-pattern>/RequestDeny</url-pattern>
  </servlet-mapping>
  <servlet> 
   <servlet-name>DeleteFriendServlet</servlet-name>
   <servlet-class>friend.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>DeleteFriendServlet</servlet-name>
   <url-pattern>/DeleteFriend</url-pattern>
  </servlet-mapping>
<!-- Reply -->
<servlet>
  	<servlet-name>DeleteReplyServlet</servlet-name>
  	<servlet-class>reply.DeleteReplyServlet</servlet-class>
  </servlet>
<servlet-mapping>
   <servlet-name>DeleteReplyServlet</servlet-name>
   <url-pattern>/DeleteReply</url-pattern>
  </servlet-mapping>
<servlet>
  	<servlet-name>WriteReplyServlet</servlet-name>
  	<servlet-class>reply.WriteReplyServlet</servlet-class>
  </servlet>
<servlet-mapping>
   <servlet-name>WriteReplyServlet</servlet-name>
   <url-pattern>/WriteReply</url-pattern>
  </servlet-mapping>
</web-app>
