@charset "UTF-8";

.friends-screen {
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}
.user-component {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
}
.user-component__column {
  display: flex;
  align-items: center;
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30%;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__title--not-bold {
  font-weight: 500;
  font-size: 16px;
}
.user-component__chevron-btn {
  background-color: inherit;
  border: none;
  opacity: 0.6;
  outline: none;
  cursor: pointer;
  margin-left: 4px;
}
.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.user-component__title {
  margin-bottom: 8px;
}
.user-component__subtitle {
  font-weight: 500;
  font-size: 15px;
  opacity: 0.75;
}
.user-component__subtitle-icon {
  opacity: 1;
  color: red;
  margin-left: 5px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
.user-component__avatar--xs {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.user-component__column-left {
  display: flex;
  flex-direction: row;
}
.user-component__column-vertical {
  flex-direction: column;
  align-items: flex-end;
}
.user-component__column-horizontal {
  flex-direction: row;
  align-items: center;
}
.user-component__time {
  display: block;
  margin-bottom: 5px;
}
.friends-list {
  width: 100%;
  height: 25vh;
  overflow-y: scroll;
  box-sizing: border-box;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-gray {
  border: 1px solid #f0f0ef;
}
