@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-screen {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DiceContainer {
  margin-top: 3%;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DiceOutFrame {
  position: relative;
  width: 100%;
  height: 100%;
  border: 25px solid transparent;
  border-radius: 35px;
  background-image: linear-gradient(#e5b26a, #e5b26a),
    linear-gradient(to left, #e2aa5c, #e2aa5c, #e2aa5c);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.DiceInner1Frame {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#444444, #444444),
    linear-gradient(to left, #34353b, #38353c, #434344);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.DiceInner2Frame {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(#444444, #444444),
    linear-gradient(to left, #424241, #38353c, #91908e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.DiceInner3Frame {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(#255f38, #255f38),
    linear-gradient(to left, #255f38, #255f38, #255f38);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
}
.DiceArea {
  display: flex;
  flex-direction: column;
  background-image: url("/img/pattern_red.png");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.eraser {
  position: absolute;
  width: 10%;
  height: 7%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.eraser > div:first-child {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
